body {
    text-align: center;
    background-color: chocolate;
}
.topmargin {
    margin-top: 40px;
}
.text {
    font-size: 2em;
    margin-right: 20px;
}
.color {
    background-color: crimson;
}